.about-section,
.services-section,
.contact-section {
  padding: 50px;
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

.service-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  background-color: rgb(96, 96, 96);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid #ccc;
}

.contact-form button {
  background-color: var(--button-background);
  color: var(--button-text-color);
  padding: 10px;
  border: none;
  cursor: pointer;
}
