/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-family: 'Dancing Script';
}

/* Top section of the navbar */
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  z-index: 9999;
}

/* Hamburger Menu */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 35px;
  cursor: pointer;
  z-index: 1100;
}

.hamburger-menu .bar1,
.hamburger-menu .bar2,
.hamburger-menu .bar3 {
  width: 100%;
  height: 5px;
  background-color: white;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.hamburger-menu.open .bar1 {
  transform: rotate(45deg) translate(6px, 11px);
}

.hamburger-menu.open .bar2 {
  opacity: 0;
}

.hamburger-menu.open .bar3 {
  transform: rotate(-45deg) translate(5px, -10px);
}

/* Navigation Grid */
.nav-grid {
  display: none;
  list-style: none;
  padding: 1rem;
  margin: 0;
  gap: 1rem;
  justify-content: center;
  align-content: start;
  grid-template-columns: repeat(auto-fit, minmax(150px,  1fr));
  width: 100%;
  
  position: fixed;
  top: 60px; /* Space below the navbar-top */
  left: 0;
  height: calc(100vh - 60px); /* Full height minus navbar-top */
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  overflow-y: auto;
  
}

.nav-grid.show {
  display: grid;
  
}

/* Grid items */
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  padding: rem rem;
  
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-item:hover {
  background-color: #444;
  transform: scale(1.05);
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Adjust grid for larger screens */

