@font-face {
  font-family: 'Dancing Script';
  src: url('./assets/CarnivaleeFreakshow-DLrm.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.home-container {
  text-decoration: none;
  background-image: url('./assets/Floral1x1metallix.png');/* Replace with the actual path to your image */
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; 
  z-index: 100;
  width: 100vw;
}


h1 {
  font-family: 'Dancing Script' ;
}